<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>zoom clone</title>
  </head>
  <body>
    
    <form class="row g-3" id="form">
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">User Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="User Name"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">
         <%= btn %>
        </button>
      </div>
    </form>

    <script>
      $(document).ready(function () {
          $("#form").submit(function(e){
          e.preventDefault();
          const name = $("#name").val();
          window.open(`/${name}`, "_blank", "width=800, height=650");
          })
      });
    </script>
  </body>
</html>
